@import '../../scss/base.scss';

.home__testimonies {
  padding: 4.375rem 0;
  background: linear-gradient(180deg, $color-celeste 0%, $color-verde 100%);
  color: $color-claro;
  @include flex(column, center, center);

  .testimonies__title {
    @include font($font-h3, bold, none);
    max-width: 600px;
    text-align: center;
  }

  .testimonies__text {
    @include font($font-xm, normal, none);
    margin-top: 3.125rem;
  }

  
}

.testimonies__boxes {
  // min-width: 100%;
  // overflow: hidden;
  // @include flex(row, center, center);
  // margin: 4.375rem 0;
  // margin-top: 4.375rem;
  // margin-bottom: 4.375rem;
  // padding-left: 10rem !important;

}

.boxes {
  width: 510px !important;
  background-color: $color-claro;
  border-radius: 10px;
  padding: 20px 3.125rem;
  color: $color-oscuro;
  margin-right: 20px;

  // &__text {
  //   @include font($font-m, normal, none);
  // }

  // &__title {
  //   @include font($font-xm, bold, none);
  // }
}
