@import "../../scss/base.scss";

.NavBar {
  background-color: $color-celeste;
  color: $color-claro;
  padding: 32px 95px;
  @include flex(row, space-between, center);
  position: fixed;
  top: 0;
  z-index: 3;
  width: 100%;
  transition: all 1s ease-in-out;

  .hero__logo {
    cursor: pointer;
  }

  .hero__NavBar {
    @include flex(row, center, center);
    
    > p:not(:first-child) {
      margin-left: 28px;
    }

    > p {
      cursor: pointer;

      &:hover {
        color: $color-verde;
      }

    }
  }
}

.NavBar-fixed {
  background-color: #0574C100;
  color: $color-claro;
}