@import '../../scss/base.scss';

.footer {
  padding: 2.5rem 95px;
  height: 11.875rem;
  background-color: $color-celeste;
  color: $color-claro;
  @include flex(row, space-between, center);

  &__logo {
    cursor: pointer;
  }

  .media {
    &__text {
      @include font(13px, normal, none);
      margin-bottom: .5rem;
    }

    &__img:last-child {
      margin-left: .5rem;
    }
  }

  .contact {
    @include flex(row, space-evenly, center);
    min-width: 800px;
    
    &__item {
      @include flex(row, center, center);

      .item__text {
        margin-left: 1rem;
      }
    }
  }
}