@import '../../scss/base.scss';

@property --num {
  syntax: '<integer>';
  initial-value: 0;
  inherits: false;
}


.home__examples {
  padding: 3.75rem 0;
  @include flex(column, center, center);
  background-color: $color-gris-claro;

  &:hover {
    .details:nth-child(1) {
      --num: 425;
    }

    .details:nth-child(2) {
      --num: 231;
    }

    .details:nth-child(3) {
      --num: 2640;
    }

    .details:nth-child(4) {
      --num: 1589;
    }
  }

  .examples__title {
    @include font(1.75rem, bold, none);
    color: $color-celeste;
    max-width: 62.5rem;
    text-align: center;
  }

  .examples__details {
    max-width: 62.5rem;
    @include flex(normal, center, center);

    .details {
      @include flex(column, space-evenly, center);
      min-height: 9.375rem;
      
      transition: --num 1s;
      counter-reset: num var(--num);


      &::before {
        content: counter(num);
        @include font($font-h2, bold, none);
        background: -webkit-linear-gradient($color-celeste, $color-verde);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }

      &:not(:first-child) {
        margin-left: 90px;
      }

      &__numbers {
        // @include font($font-h2, bold, none);
        // background: -webkit-linear-gradient($color-celeste, $color-verde);
        // background-clip: text;
        // -webkit-background-clip: text;
        // -webkit-text-fill-color: transparent;

        display: none;
      }

      &__text {
        @include font($font-m, normal, none);
      }
    }
  }

  .container {
    padding: 3.75rem 105px;
    background-color: $color-claro;
    margin-top: 4.375rem;
    -webkit-box-shadow: -1px 5px 20px -2px #000000;
    box-shadow: -1px 5px 20px -2px #000000;
    border-radius: 10px;
    @include flex(column, center, center);
    
    
    &__title {
      @include font($font-l, normal, none);
      color: $color-gris-oscuro;
      max-width: 500px;
      text-align: center;
    }

    .slide-view {
      width: 100%;
      overflow: hidden;
    }
    
    .slides {
      width: 300%;
      display: flex;
      background-color: $color-gris-claro;
      margin-top: 2.5rem;

      .first {
        transition: all 1s;
      }

      .slide {
        @include flex(row, space-evenly, center);
        width: 33.33%;

        .info-box {
          padding: 3.75rem;
          width: 100%;

          &__title {
            @include font($font-xm, bold, none);
            min-height: 3.125rem;
          }

          &__text {
            @include font($font-m, normal, none);
            margin-top: 20px;
            min-height: 100px;
          }

          .navigation-manual {
            width: 9.375rem;
            @include flex(row, space-evenly, center);

            > img {
              cursor: pointer;
            }
          }
        }
      }
    }

    .container__button {
      background-color: $color-verde;
      color: $color-claro;
      margin-top: 2.5rem;
      width: 11.875rem;
      border-radius: 10px;
      @include font(20px, bold, none);
    }
  }

}

