@import '../../scss/base.scss';

.home__join {
  background-image: 'url(assets/hace-parte-bkg.png)';
  position: relative;


  .join__image {
    width: 100%;
    overflow: hidden;
  }

  .join__box {
    position: absolute;
    top: 50%;
    left:0;
    right:0;
    transform: translateY(-50%);
    margin-left:auto;
    margin-right:auto;
    color: $color-oscuro;
    @include flex(column, center, center);
    max-width: 62.5rem;

    .box__title {
      @include font($font-h3, normal, none);
      color: $color-celeste;
    }

    .box__text {
      @include font($font-xm, normal, none);
      color: $color-oscuro;
      margin-top: 2.5rem;
    }

    .box__button {
      background-color: $color-verde;
      color: $color-claro;
      margin-top: 2.5rem;
      border-radius: 5px;
      @include font(20px, normal, none);
    }

  }

}